<header>
    <div class="top-promo-bar"></div>
  
    <nav class="navbar navbar-expand-lg bg-light-cream py-3">
      <div class="container-fluid d-flex align-items-center justify-content-between">
  
        <a class="navbar-brand me-4" href="#">
          <img src="assets/humanita-logo.png" alt="Logo" height="60">
        </a>
  
        <div class="flex-grow-1 mx-4 search-bar-container">
          <div class="input-group search-input-group rounded-pill">
            <input type="text" class="form-control ps-4 pe-0 border-0 bg-white-transparent" placeholder="O que você procura hoje?" aria-label="Search">
            <span class="input-group-text bg-transparent border-0 pe-4"><i class="bi bi-search fs-5 search-icon-color"></i></span>
          </div>
        </div>
  
        <ul class="navbar-nav d-flex flex-row align-items-center ms-4">
          <li class="nav-item dropdown me-4">
            <a class="nav-link dropdown-toggle text-dark-brown d-flex align-items-center" href="#" id="navbarDropdownAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle fs-4 me-2 icon-color"></i> MINHA CONTA
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
              <li><a class="dropdown-item" href="#">Login</a></li>
              <li><a class="dropdown-item" href="#">Meu Perfil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sair</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-brown d-flex align-items-center" href="#">
              Carrinho <i class="bi bi-cart fs-4 ms-2 icon-color"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  
    <nav class="navbar navbar-expand-lg bg-dark-brown py-2">
      <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav text-uppercase fw-bold">
            <li class="nav-item mx-3">
              <a class="nav-link text-white" aria-current="page" href="#">Harmonização Facial</a>
            </li>
            <li class="nav-item dropdown mx-3">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownTreatments" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tratamentos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownTreatments">
                <li><a class="dropdown-item" href="#">Corporais</a></li>
                <li><a class="dropdown-item" href="#">Faciais</a></li>
                <li><a class="dropdown-item" href="#">Capilares</a></li>
              </ul>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link text-white" href="#">Spa Day</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link text-white" href="#">Promoções Imperdíveis</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link text-white" href="#">Vale Presente</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
