footer {
  background-color: #1d7f4d; /* ou a cor que estiver usando */
  color: white;
  text-align: center;
  padding: 0.4rem 1rem; /* diminui a altura */
  font-size: 0.8rem;     /* fonte menor se quiser mais fino ainda */
  height: auto;
}
