/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-image: url("assets/imagem/Background/imagem-backgroundo-p.jpg") ; background-size: cover; background-position: center; }

.text-center {
  color:aliceblue;
  text-shadow: #fff;
}
.card {
  background-color: rgba(23, 215, 23, 0.053);
  border: 1px solid rgba(5, 236, 20, 0.272); /* borda suave, se quiser tirar, remova */
  box-shadow: none; /* ou use algo bem leve */
  border-radius: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Ajuste do conteúdo para melhor contraste */
.card-title,
.card-text,
.card-body {
  color:white; /* branco para destacar no fundo da página */
}

/* Imagem ainda com borda suave */
.card-img-top {
  height: 180px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

/* Botões verdes */
.btn-primary {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: #218838;
  border-color: #218838;
}



/* Estilos para a página de detalhamento */
.detalhamento-title {
  color:white; /* Cor do título */
}

.detalhamento-descricao {
  white-space: pre-line; /* Para manter quebras de linha */ color:rgb(243, 247, 245); /* Cor da descrição */
}

.detalhamento-preco {
  color: #f2f4f2; /* Cor do preço */
  font-weight: bold;
}

.label-sessoes {
  color:white
}



